.navbar {
    background-color: rgb(95,101,106);
    height:70px;
    font-size:20px;
    width:100%;

    .navLinkContainer {
        padding-top:20px;

        .navLink {
            color:white;
            margin-left:20px;
            text-decoration: none;
        }
        
    }
}



